<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="scss/services.css">
</head>
<body>
        <header class="info">
                <div class="container">
                    <div class="row mt-5 mb-3">
                        <div class="col-lg-3">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <div class="col-lg-9">
                            <ul class="header-info d-flex justify-content-around">
                                <li class="header-email ">
                                    <div class="header-email-logo">
                                        <i class="far fa-envelope-open"></i>
                                    </div>
                                    <div class="header-email-info">
                                        <span>Email</span>
                                        <a href="mailto:mail@example.com">mail@example.com</a>
                                    </div>
                                </li>
                                <li class="header-map">
                                    <div class="header-map-logo">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                    <div class="header-map-info">
                                        <span>Address</span>
                                        <span class="left">Melbourne, Australia</span>
                                    </div>
                                </li>
                                <li class="header-clock">
                                    <div class="header-clock-logo">
                                        <i class="far fa-clock"></i>
                                    </div>
                                    <div class="header-clock-info">
                                        <span>Opening Hour</span>
                                        <span class="left">10:00 AM - 5:00 PM</span>
                                    </div>
                                </li>
                                <a class="header-apply d-flex justify-content-around" href="#">Apply Now</a>
                            </ul>
                        </div>
                    </div>
        
        
        
                    <!-- Navbar -->
                </div>
        
            </header>
            
            <main>
            <section class="main-menu  d-flex align-items-center  bg">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class=" dropdown">
                                    <a class="nav-link home" href="#">
                                        HOME <i class="fas fa-angle-down"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Home V1</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Home V2</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Home V3</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Landing</a>
                                    </div>
                                
                                <li class=" dropdown">
                                    <a class="nav-link home" href="#">
                                        PAGES <i class="fas fa-angle-down"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Service</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Portfolio</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">404 Error</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Single Portf</a>
                                    </div>
                                <li class=" dropdown">
                                    <a class="nav-link home" href="#">
                                        ELEMENTS <i class="fas fa-angle-down"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                       <div class="element-ul   d-flex">
                                           <ul>
                                               <li><a class="dropdown-item" href="#">Home V1</a>
                                                <div class="dropdown-divider"></div></li>
                                               <li><a class="dropdown-item" href="#">Home V2</a>
                                                <div class="dropdown-divider"></div></li>
                                               <li> <a class="dropdown-item" href="#">Home V3</a>
                                                <div class="dropdown-divider"></div></li>
                                               <li><a class="dropdown-item" href="#">Landing</a></li>
                                           </ul>
                                           <ul>
                                                <li><a class="dropdown-item" href="#">Service</a>
                                                    <div class="dropdown-divider"></div></li>
                                                <li><a class="dropdown-item" href="#">Portfolio</a>
                                                    <div class="dropdown-divider"></div></li>
                                                <li> <a class="dropdown-item" href="#">404 Error</a>
                                                    <div class="dropdown-divider"></div></li>
                                                <li><a class="dropdown-item" href="#">Single Portf</a></li>
                                            </ul>
                                            <ul>
                                                    <li><a class="dropdown-item" href="#">Teams</a>
                                                        <div class="dropdown-divider"></div></li>
                                                    <li><a class="dropdown-item" href="#">Latest Post</a>
                                                        <div class="dropdown-divider"></div></li>
                                                    <li><a class="dropdown-item" href="#">Images</a>
                                                        <div class="dropdown-divider"></div></li>
                                                    <li><a class="dropdown-item" href="#">Etline Icon</a>
                                                        </li>
                                                </ul>
                                                <ul>
                                                        <li><a class="dropdown-item" href="#">Column Grid</a>
                                                            <div class="dropdown-divider"></div></li>
                                                        <li><a class="dropdown-item" href="#">Social Links</a>
                                                            <div class="dropdown-divider"></div></li>
                                                        <li><a class="dropdown-item" href="#">Button</a>
                                                            <div class="dropdown-divider"></div></li>
                                                        <li><a class="dropdown-item" href="#">Inner Header</a>
                                                            </li>
                                                    </ul>
                                       </div>
                                    </div>
                                <li class=" dropdown">
                                    <a class="nav-link home" href="#">
                                        ABOUT
                                    </a>
                                    
                                </li>
                                <li class=" dropdown">
                                        <a class="nav-link home" href="#">
                                            CONTACT
                                        </a>
                                        
                                    </li>
                                    <li class=" dropdown">
                                            <a class="nav-link home" href="#">
                                                BLOG <i class="fas fa-angle-down"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="#">Blog Grid</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Blog Grid</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Left Sidebar</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Right Sidebar</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Three Column</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Single Blog</a>
                                            </div>
                                        </li>
                                        <li class=" dropdown">
                                                <a class="nav-link home" href="#">
                                                        TYPOGRAPHYS
                                                </a>
                                               
                                            </li>
                                
        
                            </ul>
        
                            <div class="social-blank mb-0 pb-0">
                                    <ul id="social">
                                            <li> <a href=""><i class="fab fa-facebook-f"></i></a> </li>
                                            <li> <a href=""> <i class="fab fa-youtube"></i></a></li>
                                            <li> <a href=""><i class="fab fa-twitter"></i></a> </li>
                                            <li> <a href=""><i class="fab fa-linkedin-in"></i></a> </li>
                                            <li> <a href=""><i class="fab fa-instagram"></i></a> </li>
                                            <li> <a href=""><i class="fas fa-search"></i></a> </li>
                                        </ul>
                            </div>
                            
        
                        </div>
                    </nav>
                </div>
            </section>

            <!-- Intro  -->
    <section id="intro">
            <div class="row justify-content-center mb-5 ">
                    <div class="col-lg-7 text-center mt-100">
                        <h1> Services</h1>
                      <a href="">Home</a>
                      <i class="fas fa-angle-right"></i>
                      <span>Services</span>
                    </div>
                </div>
        </div>
    </section>

            <!-- Latest News -->
        <section class="latest-news mt-5">
                <div class="container">
                    <div class="row">
                        <div class="row justify-content-center mb-5 ">
                            <div class="col-lg-7 text-center">
                                <h1>Latest News</h1>
                                <span class="before"></span>
                                <p class="text-gray">Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et
                                    mauris. Praesent sed
                                    elit.
                                    Nulla posuere. Etiam sit amet turpis. Nullam mattis libero non</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-image">
                                    <a href="#">
                                        <img class="card-img-top" src="img/latest-post-1.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4>Product Designing and Marketing</h4>
                                    <i class="far fa-calendar text-gray"></i>
                                    <span class="text-gray">June 13, 2017</span>
                                    <i class="far fa-folder-open text-gray left"></i>
                                    <span class="text-gray ">Corporate</span>
                                    <p class="card-text text-gray">Proin gravida nibh vel velit auctor aliquet. Aenean
                                        sollicitudin, lorem quis bibendum auctor, nisi elit.Proin</p>
                                    <a href="#" class="more">Know more <i class="fas fa-arrow-right right-icon"></i><i
                                            class="fas fa-check check"></i></a>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-image">
                                    <a href="#">
                                        <img class="card-img-top" src="img/latest-post-2.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4>Investment and Brand Acquisition</h4>
                                    <i class="far fa-calendar text-gray"></i>
                                    <span class="text-gray">June 13, 2017</span>
                                    <i class="far fa-folder-open text-gray left"></i>
                                    <span class="text-gray ">business</span>
                                    <p class="card-text text-gray">Proin gravida nibh vel velit auctor aliquet. Aenean
                                        sollicitudin, lorem quis bibendum auctor, nisi elit.Proin</p>
                                    <a href="#" class="more">Know more <i class="fas fa-arrow-right"></i><i
                                            class="fas fa-check check"></i></a>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-image">
                                    <a href="#">
                                        <img class="card-img-top" src="img/latest-post-3.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4>Website Design and Development</h4>
                                    <i class="far fa-calendar text-gray"></i>
                                    <span class="text-gray">June 13, 2017</span>
                                    <i class="far fa-folder-open text-gray left"></i>
                                    <span class="text-gray ">Corporate</span>
                                    <p class="card-text text-gray">Proin gravida nibh vel velit auctor aliquet. Aenean
                                        sollicitudin, lorem quis bibendum auctor, nisi elit.Proin</p>
                                    <a href="#" class="more">Know more <i class="fas fa-arrow-right"></i><i
                                        class="fas fa-check check"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 offset-md-4 ">
                            <div class="text-center">
                                <a href="#" class="explore ">Explore More</a>
    
                            </div>
    
                        </div>
                    </div>
                </div>
            </section>

              <!-- We're Hiring -->
        <section class="hiring">
                <div class="container">
                    <div class="row">
                        <div class="row justify-content-center mt-5 mb-5 ">
                            <div class="col-lg-7 text-center">
                                <span>We're Hiring</span>
                                <h1>Interested? Get in touch with us at</h1>
                                <span class="before"></span>
                                <p class="text-gray">Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et
                                    mauris. Praesent sed
                                    elit.
                                    Nulla posuere. Etiam sit amet turpis. Nullam mattis libero non</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <!-- Client Logo -->
        <section class="client-logo">
                <div class="container">
                    <div class="row">
                        <div class="logo-item">
                            <a href=""><img src="img/client-new-1.png" alt=""></a>
                        </div>
                        <div class="logo-item">
                            <a href=""><img src="img/client-new-2.png" alt=""></a>
                        </div>
                        <div class="logo-item">
                            <a href=""><img src="img/client-new-1.png" alt=""></a>
                        </div>
                        <div class="logo-item">
                            <a href=""><img src="img/client-new-2.png" alt=""></a>
                        </div>
                        <div class="logo-item">
                            <a href=""><img src="img/client-new-1.png" alt=""></a>
                        </div>
                        <div class="logo-item">
                            <a href=""><img src="img/client-new-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="widget">
                <div class="container">
                    <section class="widget-up">
                        <div class="row p-80">
                            <div class="content d-flex">
        
                            <div class="col-lg-3">
                                <div class="about">
                                    <h3 class="line">About Us </h3>
                                    <span></span>
                                    <p >Mnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam
                                        eaque ipsa quae ab illo inventore veritatis.</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="popular">
                                    <h3>Popular News <span class="line"></span></h3>
                                    <div class="info">
                                        <a href="">Phasellus Risus Aliquam</a>
                                        <span>January 25, 2015</span>
                                    </div>
                                    <div class="info">
                                        <a href="">Phasellus Risus Aliquam</a>
                                        <span>January 25, 2015</span>
                                    </div>
                                    <div class="info">
                                        <a href="">Phasellus Risus Aliquam</a>
                                        <span>January 25, 2015</span>
                                    </div>
                                    <div class="info">
                                        <a href="">Phasellus Risus Aliquam</a>
                                        <span>January 25, 2015</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="category ">
                                    <h3>Category <span class="line"></span></h3>
                                    <div class="list "> <i class="fas fa-angle-right"></i><a href="">Corporate <span>(5)</span></a></div>
                                    <div class="list"><i class="fas fa-angle-right"></i><a href="">Business </a><span>(2)</span></div>
                                    <div class="list"><i class="fas fa-angle-right"></i><a href="">Photography </a><span>(4)</span></div>
                                    <div class="list"><i class="fas fa-angle-right"></i><a href="">Agency </a><span>(7)</span></div>
                                    <div class="list"><i class="fas fa-angle-right"></i><a href="">Careers </a><span>(6)</span></div>
                                    <div class="list"><i class="fas fa-angle-right"></i><a href="">Finance </a><span>(5)
                                        </span></div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="Gallery">
                                    <h3>Gallery <span class="line"></span></h3>
                               <div class="gallery">
                                   <a href=""><img src="img/blog-1.jpg" alt=""></a>
                               </div>
                               <div class="gallery "><a href=""><img src="img/blog-2.jpg" alt=""></a></div>
                               <div class="gallery "><a href=""><img src="img/blog-3.jpg" alt=""></a></div>
                               <div class="gallery"><a href=""><img src="img/blog-4.jpg" alt=""></a></div>
                               <div class="gallery"><a href=""><img src="img/blog-5.jpg" alt=""></a></div>
                               <div class="gallery"><a href=""><img src="img/blog-1.jpg" alt=""></a></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row down-menu">
                            <div class="blog d-flex align-items-center ">
                                <ul class="menu">
                                    <li> <a href="">Home</a> </li>
                                    <li> <a href="">About Us</a> </li>
                                    <li> <a href="">Contact Us</a></li>
                                    <li><a href="">Services </a></li>
                                    <li> <a href="">Blog</a></li>
                                    <li> <a href="">News</a></li>
                                    <li> <a href="">Shop</a></li>
                                </ul>
                                <ul class="social">
                                    <li><a href=""><i class="fab fa-facebook-f facebook"></i></a></li>
                                    <li><a href=""><i class="fab fa-twitter twitter"></i></a></li>
                                    <li><a href=""><i class="fab fa-linkedin-in linkedin"></i></a></li>
                                    <li><a href=""><i class="fab fa-instagram instagram"></i></a></li>
                                    <li><a href=""><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href=""><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </section>
                    
                </div>
                <section class="widget-down">
                    <div class="container">
                        <div class="row ">
                            <div class="end d-flex justify-content-between " >
                                    <div class="left">
                                            <span>Copyright © 2018</span>
                                            <a href="">Biz Lina.</a>
                                            <span>All rights reserved.</span>
                                    </div>
                                    <div class="right">
                                        <span>Biz Lina by</span>
                                        <a href="">Anil Basnet</a>
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                        
                 </section>
            </footer>
</body>
</html>