.carousel-caption{
    margin-bottom:200px;
}

.carousel-caption h2{
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.carousel-item::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    z-index: 9;
}